* {
  color: black;
  font-family: "Josefin Slab", serif;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  /* text-transform: uppercase; */
}

.App-logo {
  height: 13vmin;
  border-radius: 50%;
  pointer-events: none;
}

.App-header {
  background-color: #fdfcf9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hr {
  background-color: black;
  height: 1px;
  width: 50%;
}

h1 {
  font-weight: lighter;
  font-size: 50px;
}

h2 {
  font-weight: lighter;
  font-size: 30px;
  line-height: 0px;
}
.dress-me-button-container {
  display: flex;
}
.dress-me-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(133, 78, 46, 0.739);
  /* margin-left: 46%; */
  margin-bottom: 40px;
}

.dress-me-button:hover {
  background-color: rgb(187, 150, 121);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.process-container {
  width: 1000px;
  padding: 100px;
}

.hand-img {
  height: 400px;
  display: flex;
  justify-content: left;
  border-radius: 50%;
  pointer-events: none;
}

.hand-text {
  text-align: left;
}

.bags-img {
  height: 400px;
  display: inline-block;
  text-align: right;
  margin-left: 1000px;
}

.bags-text {
  text-align: right;
  margin-left: 100px;
}

footer p {
  font-size: 13px;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
